<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.order_food.web.dao.UserDao">

	<resultMap type="com.order_food.web.entity.model.User" id="userMap">
		<id column="user_id" property="userId" javaType="java.lang.String" />
		<result column="name" property="name" javaType="java.lang.String" />
		<result column="user_name" property="userName" javaType="java.lang.String" />
		<result column="password" property="password" javaType="java.lang.String" />
		<result column="deleted" property="deleted" javaType="java.math.BigDecimal" />
		<result column="create_date" property="createDate" javaType="java.util.Date" />
		<result column="sex" property="sex" javaType="java.math.BigDecimal" />
		<result column="number" property="number" javaType="java.lang.String" />
		<result column="phone" property="phone" javaType="java.math.BigDecimal" />
		<result column="email" property="email" javaType="java.lang.String" />
		<result column="type" property="type" javaType="java.math.BigDecimal" />
		<result column="status" property="status" javaType="java.math.BigDecimal" />
		<result column="update_date" property="updateDate" javaType="java.util.Date" />
	</resultMap>
	
	<sql id="user">
		u.user_id,u.name,u.user_name,u.password,u.deleted,u.create_date,u.sex,u.number,u.phone,u.email,u.type,u.status,u.update_date
	</sql>
	
	<!-- 查询数据：查询全部、查询某一条、按照条件查询部分、按照条件查询某一条。传入分页属性即可分页 -->
	<select id="queryUserByPage" resultMap="userMap" parameterType="com.order_food.web.entity.model.User">
		select 
			<include refid="user"/>
		from 
			user u
	</select>
</mapper>